doctype html
html
    title Image Analysis Results: {{ filename }}
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/css/twentytwenty.min.css')
    link(rel='stylesheet' href='{{ url_for(\'static\',filename=\'index.css\') }}')
    script(src='https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.event.move.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/mhayes-twentytwenty/1.0.0/js/jquery.twentytwenty.min.js')
    body
        .ui.grid.main.centered
            .ui.ten.wide.column
                h1.ui.dividing.header Forensic Image Analyzer Results
                .ui.message
                    p
                        | The enhancement and analysis of file <strong>{{ filename }}</strong> has completed.
        .ui.grid.centered
            .ui.nine.wide.column
                h3.ui.dividing.header Image Colourization
                .ui.grid
                    .column
                        #container.twentytwenty-container
                            img(src="{{ before }}" width="2000")
                            img(src="{{ after }}" width="2000")
                br
        .ui.grid.centered
            .four.wide.column
                .ui.segment
                    h3.ui.dividing.header Image Classification Results
                    .ui.segments
                        | {% for key, value in classification.items() %}
                        .ui.segment
                            h4.ui.header {{ key }}
                            .ui.progress.blue
                                .bar(style='width:{{value}}%')
                                    .progress {{value}}%
                        | {% endfor %}
            .six.wide.column
                .ui.segment
                    h3.ui.dividing.header Image Details
                    table.ui.celled.table
                        thead
                            tr
                                th Attribute
                                th Value
                        tbody
                            | {% for key, value in details.items() %}
                            tr
                                td(data-label='Attribute') {{ key.title() }}
                                td(data-label='Value') {{ value }}
                            | {% endfor %}
        .ui.message.tiny
            p Generated on {{ timestamp }}
        hr

        script.
            $(function () {
                $('#container').twentytwenty();
            });



